Source: ubuntu-lboulard
Section: misc
Priority: optional
Maintainer: Laurent Boulard <laurent.boulard@gmail.com>
Build-Depends: debhelper (>=9), gnupg, wget, lsb-release
Standards-Version: 3.9.7

Package: local+apt-extras
Architecture: all
Depends: gpgv, ${misc:Depends}
Recommends: gnupg
Description: Keyrings and sources for foreign repositories and PPA
 This install keyring for following locations:
   - https://launchpad.net/~laurent-boulard
   - http://debian.sur5r.net/
   - https://launchpad.net/~git-core
 .
 Those APT repositories are registered:
   - ppa:laurent-boulard/vim
   - ppa:laurent-boulard/i3
   - ppa:laurent-boulard/devtools
   - ppa:laurent-boulard/fonts
   - ppa:git-core/ppa
   - http://debian.sur5r.net/i3
   - http://debian.sur5r.net/rofi

Package: local+common
Architecture: all
Depends: lsb-release, htop, zsh, zsh-doc, stow, git, git-man, tig, ack-grep,
 silversearcher-ag, tree, luajit, lolcat, rig, gnupg, gpgv, xz-utils,
 netcat-openbsd, less, rsync, unzip, usbutils
Recommends: gnupg2
Description: Common packages for desktop and headless usage
 Install package local+headless or local+desktop to have a usage setup.

Package: local+headless
Architecture: all
Depends: ${misc:Depends}, local+common, vim-nox | vim-gtk, tmux
Description: Install all needed packages for headless usage
 This is an empty package to install required packages for headless setup.

Package: local+desktop
Architecture: all
Depends: ${misc:Depends}, local+common, terminator, rxvt-unicode, vim-gtk,
 i3-wm, i3status, i3lock, dunst, suckless-tools, fonts-dejavu-core, conky,
 nitrogen, git-doc, gitk, git-gui, tmux, fonts-font-awesome, meld, compton
Recommends: gnome-keyring, seahorse, rofi, dex, fonts-iosevka,
 fonts-iosevka-term, fonts-iosevka-slab, fonts-iosevka-term-slab,
 xfonts-terminus, xfonts-terminus-oblique, fonts-liberation, ubuntu-wallpapers
Description: Install all needed packages for desktop usage
 This is an empty package to install required packages for desktop setup.

Package: local+devel
Architecture: all
Depends: ${misc:Depends}, build-essential, git, tig, make, automake, autoconf,
 cscope, strace, gdb, patch, patchutils
Recommends: global
Description: Install all needed packages for development
 This is an empty package to install core packages packages for native
 development.

Package: local+devel-dpkg
Architecture: all
Depends: ${misc:Depends}, local+devel, fakeroot, quilt, devscripts, pbuilder,
 cowbuilder, git-buildpackage, sbuild, dpkg-dev
Recommends: ubuntu-dev-tools
Description: Install all needed packages for development of debian packages
 This is an empty package to install used packages for development.
